EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=urgentflow
DB_PORT=3307
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE_NUMBER=+1XXXXXXXXXX
VONAGE_API_KEY=your_vonage_api_key
VONAGE_API_SECRET=your_vonage_api_secret
VONAGE_FROM=UrgentFlow
